# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/fitmein-demo/node_modules
/fitmein-demo/.pnp
/fitmein-demo/.pnp.js

# testing
/fitmein-demo/coverage

# production
/fitmein-demo/build

# misc
/fitmein-demo/.DS_Store
/fitmein-demo/.env.local
/fitmein-demo/.env.development.local
/fitmein-demo/.env.test.local
/fitmein-demo/.env.production.local

/fitmein-demo/npm-debug.log*
/fitmein-demo/yarn-debug.log*
/fitmein-demo/yarn-error.log*
